<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- Ctrl+space를 사용하여 입력힌트 사용가능 -->
<!-- 이 mapper는 2개의 객체를 binding(묶어주는)하는 것을 의미한다.
이 mapper는 회원관리 CRUD(입력,조회,수정,삭제)를 처리하는 쿼리를 모아놓은 파일.
이번주 조회기능 중  검색, 페이징처리 기능을 실습하는 것이 핵심. -->
<mapper namespace="memberMapper">
<!-- 공통 쿼리 include문 만들기 -->
<!-- test="'all'.equals(search_type)"비교 가능 
참고: equals메서드 사용의 장점은 null비교까지 가능.
-->

<sql id="sqlWhere">
<if test="search_type != '' and search_type != null">
	where
	<if test="search_type == 'all'.toString()">
		user_id like '%'||#{search_keyword}||'%'
		or user_name like '%'||#{search_keyword}||'%'
	</if>
	<if test="search_type == 'user_id'.toString()">
		user_id like '%'||#{search_keyword}||'%'
	</if>
	<if test="search_type == 'user_name'.toString()">
		user_name like '%'||#{search_keyword}||'%' 
	</if>
</if>
</sql>
<!-- 업데이트 쿼리 -->
<update id="updateMember" >
update tbl_member
set
email = #{email},
m_level = #{m_level},
m_point = #{m_point},
user_name = #{user_name},
update_date = systimestamp
<if test="user_pw !=''">
,user_pw = #{user_pw}
</if>
where
user_id = #{user_id}
</update>

<!-- jsp 상세보기에 출력할 쿼리 -->
<select id="readMember" resultType="com.edu.vo.MemberVO">
select * from tbl_member where user_id=#{user_id}
</select>

<!-- 회원 수 조회 쿼리 -->
<select id="countMember" resultType="int">
select count(*) from tbl_member

</select>
<!-- 조건 조회 쿼리 -->
<select id="selectMember" resultType="com.edu.vo.MemberVO">
select TABLE_B.* from
(
	select ROWNUM as RNUM, TABLE_A.* from
	(
		select * from tbl_member
		<include refid="sqlWhere"></include>
		order by reg_date DESC
	) TABLE_A
	<![CDATA[
    where ROWNUM <= #{queryStartNum}+#{queryPerPageNum}
) TABLE_B
where TABLE_B.RNUM > #{queryStartNum}
]]>
</select>

<insert id="insertMember">
insert into tbl_member
values(
#{user_id},
#{user_pw},
#{user_name},
#{email},
#{m_point},
#{enabled},
#{m_level},
systimestamp,
systimestamp
)
</insert>

<delete id="deleteMember">
delete from tbl_member
where user_id = #{user_id}
</delete>
</mapper>
