<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="replyMapper">
<delete id="deleteReply">
	delete from tbl_reply where tbl_reply.rno=#{rno}
</delete>

<delete id="deleteReplyAll">
	 delete from tbl_reply where tbl_reply.bno=#{bno} 
</delete>

<update id="updateReply">
	update tbl_reply set
	reply_text=#{reply_text}
	,update_date = systimestamp
	where rno=#{rno}
</update>
<!-- 댓글 등록시 replyCount++ -->
<update id="replyCountUpdate">
	update tbl_board set
	reply_count= (select count(*) from tbl_reply where tbl_reply.bno=#{bno})
	where tbl_board.bno=#{bno}
</update>

<insert id="insertReply">
	<selectKey keyProperty="rno" resultType="int" order="BEFORE">
	select seq_rno.nextVal from dual
	</selectKey>
	insert 
	into tbl_reply(rno,reply_text,replyer,reg_date,update_date,bno)
	values(
		#{rno},
		#{reply_text},
		#{replyer},
		systimestamp,
		systimestamp,
		#{bno}
	)
	
</insert>
<select id="countReply" resultType="int">
	select count(*) from tbl_reply
</select>
<select id="selectReply" resultType="com.edu.vo.ReplyVO">
	select * from
	(
	select rownum, tableA.* from
	(
		select * from tbl_reply
		where bno = #{bno}
		order by rno desc
	)tableA
	<![CDATA[
	where rownum < #{pageVO.queryStartNum}+#{pageVO.queryPerPageNum}
	)tableB
	where rownum >= #{pageVO.queryStartNum}
	]]>
</select>
</mapper>